.nav{

    padding:30px 0;

}
.nav_wrapper{

    display: flex;
    justify-content: space-between;
    
}


.nav_list li {

    display: inline-block;
    justify-content: space-between;

}

.nav {

	padding: 32px 0;

}
li{

    display: inline-block;
    margin:0 16px;

}

.nav_list .nav_link{

    font-size: 1.8rem;
    font-family: 'Poppins';
    padding: 8px;
    color: var(--black-1);

}
.nav_list li .nav_link:hover{

    color: var(--green-1);

}


@media only screen and (max-width:750px){
    
    .nav{

        position: relative;
    }

    .nav_list{

        z-index: 1000;
        position:absolute;
        top:0;
        
        right: 12px;
        width:80%;
        height: 100vh;
        background: var(--lightGreen-1);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 32px;
    
        overflow: hidden;
        transition: 1s ease-in transform;
        
        
        
    }

    .nav_list li{

        display: block;
        line-height: 50px;
        text-align: right;
    
    }

    .nav_list a{

        font-size: 25px;
        
    }

}
/* button stilizare css*/
.button{

    color:var(--green-1);
    font-family: 'Poppins';
    font-weight: 500;

    font-size: 20px;
    padding: 18px 30px;
    border-radius: 8px;

}
.primary-button{

    color:aliceblue;
    background: var(--green-1);

}