.nav{

    padding:30px 0;

}
.nav_wrapper{

    display: flex;
    justify-content: space-between;
    
}


.nav_list li {

    display: inline-block;
    justify-content: space-between;

}

.nav {

	padding: 32px 0;

}


.nav_list .nav_link{

    font-size: 1.8rem;
    font-family: 'Poppins';
    padding: 8px;
    color: var(--black-1);

}
.nav_list li .nav_link:hover{

    color: var(--green-1);

}


@media only screen and (max-width:750px){
    
    .nav{

        position: relative;
    }

    .nav_list{

        z-index: 1000;
        position:absolute;
        top:0;
        
        right: 12px;
        width:200px;
        height: 50vh;
        background: var(--lightGreen-1);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 32px;
    
        overflow: hidden;
        transition: 1s ease-in transform;
        
        
        
    }

    .nav_list li{

        display: block;
        line-height: 50px;
        text-align: right;
    
    }

    .nav_list a{

        font-size: 25px;

    }

}
/* button stilizare css*/
.button{

    color:var(--green-1);
    font-family: 'Poppins';
    font-weight: 500;

    font-size: 20px;
    padding: 18px 30px;
    border-radius: 8px;

}
.primary-button{

    color:aliceblue;
    background: var(--green-1);

}




/* Footer Stilizare */

footer{

    background: var(--lightGreen-1);    
    padding-top: 5rem;

}

.footer_wrapper{

    display: flex;
    flex-direction: column;
    gap:3rem;

}

.footer_logo {
 
    width:150px;
    margin-bottom:2rem;
    

}

.footer_logo :hover {

   transform: scale(1.1);
   border: 3px solid black;
}

.footer_description{

    font-size:20px;
    color:var(--black-2);
    margin-bottom: 32px;
}

.footer_socials_title{

    font-size: 20px;
    color: var(--black-1);
    margin-bottom: 16px;

}

.footer_socials li{

    display: inline-block;
    margin-right: 16px;
    font-size: 20px;

}

.footer_socials a {
   
    
    padding: 9px 12px;
    background-color: var(--white-1) ;
    border: 1px solid var(--green-2);
    border-radius: 10px;
    margin-bottom: 20px;

}
.footer_socials a:hover {
    
    background-color: lightblue ;
   
}
.footer_socials i{

    width: 20px;
    color: var(--black-2);

}
.footer_socials i:hover{

    width: 20px;
    color: var(--black-2);
    transform: scale(1.5);

}

.footer_text_title{

    font-size: 30px;
    margin-bottom: 16px;
    color: var(--black-1);
    font-weight: 600;

}

.footer_text a{

    font-size : 20px;
    color:var(--black-2) ;
    margin-bottom: 8px;
    font-weight: 600;
    font-family: Jost;
    line-height: 25px;

}

.footer_text a:hover{

    font-size : 20px;
    color:lightcoral ;
    margin-bottom: 8px;
    font-weight: 600;
    font-family: Jost;
    line-height: 25px;
    

}

/* footer responsive */

@media only screen and (min-width:770px){

    footer{

      
        padding-top: 120px;
        padding-bottom:64px ;
    
    }
    
    .footer_wrapper{
    
        display: flex;
        flex-direction: row;
        gap:3rem;
    
    }

    .footer_column1{

        flex: 5 ;
    }

    .footer_column1,
    .footer_column2,
    .footer_column3,
    .footer_column4 {

        flex: 3;
    }

    .footer_description{

        max-width: 300px;
        font-size: 1.8rem;
        margin-bottom: 35px;

    }

    .footer_socials_title {

        font-size: 32px;
        margin-bottom: 24px;

    }

    .footer_text_title {

        font-size:32px;
        margin-bottom: 32px;
    }

    .footer__text a{

     font-size:32px;
        margin-bottom:16px ;

    }
  } 
    #copyright {
    
        padding: 16px 0;
    }

    .copyright_text {

        font-size: 20px;
        text-align: center;
    }

    @media only screen and (min-width:770px){
        
        .copyright_text {

            font-size: 25px;
            text-align: left;
        }
    }


    /* sectiunea info contact style*/

    .storeInfo_wrapper {

        display: flex;
        /*strectch - ofera elementelor aceeeasi inaltime */
        align-items:stretch;
        justify-content: center;
        flex-wrap: wrap;
        gap:1rem;
        
    }

    .storeInfo_item {
        
        background-color: var(--lightGreen-1);
        padding: 20px 30px;
        text-align: center;
        border-radius: 12px;
        width:150px;
        
        
    }

    .storeInfo_icon{

        margin: 0 auto;
        width: 150px;
        margin-bottom: 20px;
    }

    .storeInfo_title{
        
        font-family: Poppins;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 8px;
        color:var (--black-1);

    }

    .storeInfo_text{
        
        font-size: 22px;
        font-family: Raleway;
        font-weight: 400;
        color:var (--black-2);

    }

    @media only screen and (min-width: 770px) {
        .storeInfo_wrapper {

            gap: 32px;
        }
        .storeInfo_item {
             
            min-width: 200px;
            padding: 35px 0;
           
        }
        .storeInfo_icon {
            
            min-width: 47px;
            margin-bottom: 20px;
        }
        .storeInfo_title {
            font-size:1rem;
            margin-bottom: 1rem;
        }
        .storeInfo__text {
            font-size: 1.6rem;
        }
    }
    