.hero_wrapper {

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 20px;
}
.hero_left_wrapper{

	max-width: 360px;
}

.hero_img_Wrapper {

	max-width: 600px;
	width: 80%;
    margin: 0 auto;
	border-radius: 10px;

}
.hero_img_Wrapper img{
    
    border-radius: 5px;
}


.hero_heading {

    margin-bottom: 24px;
	font-family: Poppins;
	font-weight: 600;
	line-height: 40px;
    color: var(--black-1);
	text-align:center;
	font-size: 40px;	
	color: var(--black-1);
}

.hero_info {

	text-align:center;
	font-size: 1.4rem;
	margin-bottom: 1.5rem;
	color: var(--black-2);
}
.button_wrapper {

	text-align: center;
}

@media only screen and (min-width: 760px) {

	.hero_wrapper {

		flex-direction: row;
		gap: 0;
	}
	.hero_left {

		flex: 4;
	}
	.hero_right {
		flex: 5;
	}
	.hero_heading {

		font-size: 40px;
		margin-bottom: 32px;
		text-align: left;
	}

	.hero__info {

		margin-bottom: 32px;
		text-align: left;
		font-size: 28px;
	}

	.button__wrapper {

		text-align: left;
	}
	.hero_img_wrapper {
        
		max-width: none;
		width: 90%;
	}
}

#restaurantSpecials {
	padding-top: 10rem;
}
.restaurantSpecials_wrapper{

  display: flex;
  flex-direction: column;
  gap:3rem;	

}
.restaurantSpecials_left{

	display: flex;
	gap:16px;

}

.restaurantSpecials_item{

	background-color: var(--lightGreen-1);
	padding: 18px;
	padding-top:60px;
	border-radius: 12px;
	width: 45%;

}

.restaurantSpecials_item_img{ 

	margin-top: calc(-40% - 30px);
	margin-bottom: 32px;
	border-radius: 12px;
	height: 150px;
	overflow: hidden;
	
}

.restaurantSpecials_item_img img{ 
	object-fit:cover;
}

.restaurantSpecials_item_title{

	font-size: 20px;
	color: var(--black-1);
	font-weight: 600;
	margin-bottom: 16px;
}

.restaurantSpecials_item_price{

	color: var(--green-1);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 16px;
}

.restaurantSpecials_item_text{
	font-size: 22px;
	color: var(--black-2);
	font-weight: 500;
}

.restaurantSpecials_title{
	font-size: 28px;
	color: var(--black-2);
	margin-bottom: 22px;
}
.restaurantSpecials_text{
	font-size:20px;
	color: var(--black-2);
	font-weight: 500;
	margin-bottom: 16px;

}

@media only screen and (min-width:770px){
	#restaurantSpecials {
		padding-top: 15rem;
	}
	#restaurantSpecials .container {
		max-width: 900px;
	}
	.restaurantSpecials_wrapper {
		flex-direction: row;
	}
	.restaurantSpecials_right {
		flex: 2;
	}
	.restaurantSpecials_left {
		flex: 3;
		gap: 2rem;
	}
	.restaurantSpecials_item {
		padding: 2rem;
	}
	.restaurantSpecials_item_title {
		font-size: 2.05rem;
		line-height: 1.4em;
		margin-bottom: 1.5rem;
	}
	.restaurantSpecials_item_price {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}
	
	.restaurantSpecials_item_text {
		font-size: 1.6rem;
	}
	.restaurantSpecials_title {
		font-size: 3.6rem;
		margin-bottom: 1.5rem;
	}
	.restaurantSpecials_text {
		font-size: 1.8rem;
		margin-bottom: 1.5rem;
	}
}